- @messages.each do |message,post|
  %li
    .userName
      = post.user.name
    .date
      2019年12月12日 22:30
      -# = messages.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .message
      = message.text