.editPage
  %p edit view TOP
  = link_to "TOPページ" root_path

  = form_for [@post_edit] do |f|
    = f.text_field :text, class: 'form', placeholder: '感想をお書きください'
    = f.submit '更新', class: 'editButton'